
/* font-family */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* Shared Style */
.secendary-bg{
    background-color:#FFF8F3;
}
.text-primary{

    color:#FD6E0A;
}

.dark-2{
    color:#474747 ;
}

.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    font-size: 20px;
    color: white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.btn-secemdery{
    background-color: transparent;
    font-weight: bold;
    font-size: 20px;
    color: #FD6E0A;
    padding: 18px 35px;
    border: #FD6E0A solid 1px ;
    border-radius: 5px;
    cursor: pointer;

}

.sectation-title{
    font-size: 35px;
    font-weight:bold;
    color: #181818;
}

.sectation-dec{
    font-size: 18px;
    color:#757575;
}
.text-center{
    text-align: center;
}
.margin{
    margin-top: 130px;
}
/* header */

.header{
    background-image: url('../images/developer.png') , url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}

/*Nav Style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
    
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items:center ;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
    
}

nav li a{
    font-size:20px;
    text-decoration: none;
    
}

/* Banner */
.banner{
    display: flex;
    justify-content: space-evenly;
    margin: 0 35px 0 200px;
}

.banner-contain{
    max-width:585px;
    
}
.banner-greetings{
    font-size: 45px;
    font-weight:300;
    color: #474747;
    margin: 0px;

}

.banner-title{
    font-size: 85px;
    font-weight:bold;
    color: #474747;
    margin: 0px;
}

.banner-profile-picture{
    width:584px;
    height:676px;
    object-fit: cover;
}

/* main */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About */
.about{
    border-radius: 10px;
    padding: 130px 155px;
    text-align: center;
    
}

.about-items{
    display: flex;
    justify-content: space-around;
}

.item-title{
    font-size: 20px;
    font-weight: 300;
}

.item-descriptation{
    font-size: 20px;
    font-weight: bold;
}
/* what i do*/
.Skills{
    
    display: flex;
    gap: 24px;
    
}
.skill{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    
}


/* resume */
.resume{
    margin-top: 130px;
}
.resume-container{
    display: flex;
    gap: 24px;
}

.resume-container hr{
    margin-top: 30px;
    color: #D1D1D1;
    border: solid 1px;
}

.resume-col-title{
    font-size:30px;
}

.expricenc-title{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;

}


.exprience-sub-title{
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 20px;
}
.descriptation, .exprience-sub-title{
    color:#757575;
}

.downlode-cv{
    margin-top: 50px;
}